// bulma style library
@use "../node_modules/bulma/bulma.sass";

// components
@use "styles/components/searchbox";

$input-focus-box-shadow-size: none;

// global styling
body {
    background-color: #FFF;
}

*:focus {
    outline: none;
    border: 1px solid #efefef;
    box-shadow: none;
    border-color: none;
}

.footer {
    background-color: #f3f3f3;
    padding: 1rem 1rem 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.buttons {
    display: inherit;
    flex-wrap: unset;
    justify-content: inherit;
}