.searchInput {
    height: 50px;
    line-height: 50px;
    outline: none;
    border: 1px solid #efefef;
}

.searchInput:focus {
    outline: none;
    border: 1px solid #efefef;
}

.searchActive {
    position: absolute;
    top: 50px;
    left: 9px;
    width: 280px;
    padding: 0.5rem 0.75rem;
    margin-left: 3px;
    background-color: #FFF;
    border: 1px solid #efefef;
    border-top: none;
}
.searchClosed {
    display: none;
}